body {
  background-color: rgb(49, 48, 48);
}

.Bold {
  font-weight: 900;
}

.main-table {
  width: 60%;
  margin: 200px;
  border-radius: 5px;
}
.main-table td {
  padding: 12px 15px;
  border: 1px solid #999;
}

.main-table tr {
  border-bottom: 1px solid rgb(185, 15, 15);
}

.empty-row {
  visibility: hidden;
}


